@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    background-color: rgba(28, 27, 27, 0.066);
    width: 1px;
}