@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* background-color: rgb(8, 8, 8); */
}

::-webkit-scrollbar {
  background-color: rgba(28, 27, 27, 0.066);
  width: 1px;
}

.email {
  background: linear-gradient(90deg, #d14836, #d14836);
}
.linkedin {
  background: linear-gradient(90deg, #0072b1, #00a0dc);
}
.github {
  background: linear-gradient(90deg, #24292e, #24292e);
}
.icon-contact {
  @apply text-center grid items-center text-[1.3rem] font-bold md:text-[2rem] text-white rounded-lg;
}
